#drum-machine {
  width: 50%;
  height: 100%;
  background-color: grey;
  margin: auto;
  padding: 10px;
  position: relative;
  top: 10vh;
}

h1 {
  text-align: center;
}

#display {
  height: 30px;
  width: 50%;
  background: lightgrey;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: lightgrey;
  padding: 10px;
  margin: auto;
  border-radius: 10px;

}

.drum-pad {
  width: 8vw;
  height: 8vw;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.row {
  margin: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.playing {
  background: yellow;
}
